body {
  padding: 0;
  margin: 0;
  max-width: 430px;
  margin: 0 auto;
}

#search-results {
  overflow: scroll;
  height: 65vh;
  padding: 0 10px;
}

.search-bar {
  margin-bottom: 1rem;
  padding: 0 10px;

  input[type="text"] {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #F99417;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #F99417;
    }
  }
}

.stores-card {
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 10px;

  .banner-logo {
    height: 65px;
    width: 65px;
    object-fit: contain;
    transition: transform 0.3s ease;
    margin: 5px;
    border-radius: 7px;
    padding: 2px;

    &.active-logo,
    &:hover {
      transform: scale(1.1);
      border: solid 2px #975BEB;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 10px;
}
