<h1>My Favourites</h1>

<div class="favourites-list">
  <% @favourites.each do |fav| %>
    <div class="fav-item">
      <p><%= fav.product.name %></p>
      <%= button_to "Remove", favourite_path(fav), method: :delete, remote: true, class: "remove-fav btn btn-link" %>
    </div>
  <% end %>
</div>
