<div class="row justify-content-space-evenly">
  <% deals.each do |deal| %>
    <%= render partial: "pages/deal", locals: { deal: deal } %>
  <% end %>
</div>
<style>
  .category-text {
    font-size: 0.9rem;
  }
  .debug-text {
    font-size: 0.8rem;
    color: #888;
    word-break: break-all;
  }
</style>
