<h1>Results</h1>

<% if @deals.any? %>
  <ul>
    <% @deals.each do |deal| %>
      <li><%= deal.product.name %> - <%= deal.product.category %> / <%= deal.store.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nothing was found...</p>
<% end %>

<%= link_to "Back to Homepage", root_path, class: "btn btn-outline-dark btn-lg" %>
