.filter-wrapper {
  width: 200px;
}

.filter-form {
  width: 100%;
}

.category-filter {
  font-family: 'Inria Sans', sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.banner-logo {
  max-height: 40px;
}
.filter-bar {
  gap: 1rem;

  @media (max-width: 768px) {
    gap: 0;
  }
}

.store-logos {
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .store-logos {
    gap: 0.3rem;
  }

  .filter-wrapper {
    width: 100%;
    margin-top: 0.5rem;
  }
}
