.navbar-dealhuntr {
  height: 60px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  background-color: #975BEB;
}

.navbar-dealhuntr .nav-link {
  font-size: 24px;
  text-decoration: none;
}

.navbar-dealhuntr .nav-link:hover {
  color: #D87C0A; /* Darker shade of orange */
}

/* Default icon color */
.navbar-dealhuntr .nav-link i {
  color: white;
  transition: color 0.3s ease;
}

/* Change color on hover */
.navbar-dealhuntr .nav-link:hover i {
  color: orange;
}

/* Make the home icon orange when on the homepage */
.navbar-dealhuntr .active-icon i {
  color: orange !important;
}
